# pyc
*.pyc

# jupyter
*.ipynb

# tensorboard
tensorboard/

# extension
*.parquet
*.csv
*.pickle
*.zip
*.7z
data/test_train/enmo_mean.npy
data/test_train/enmo_std.npy
data/test_train/feature_list.npy
